/**
 * Created by bestxie on 2017/3/31.
 */

@charset "utf-8";
//ҳ��Ĭ��������ɫ
@fosun-text-color            : #131329;
//ҳ�汳����ɫ
@fosun-background-color     : #e6e6e6;
//���ݱ�����ɫ
@content-background-color   :#f7f7f7;
//������ģ�͵ı߿���ɫ
@search-box-boder-color      :#e6e6e6;
//�����ı߿���ɫ
@search-border-color          :#d2d2d2;
//��Ƭ�ı߿���ɫ
@card-border-color            :#cdcdcd;

//�ֲ�ͼbackground-src
@banner-background-src        :"../../app_img/banner.png";
//���ذ�ťbackground-src
@goto-back-background-src     :"../../app_img/icon_back.png";
//������ť����
@search-icon-background-src   :"../../app_img/icon_search.png";
@card-c-hot-background-src    :"../../app_img/icon_corner.png";

@goto-top-background-src    :"../../app_img/icon_goto_top.png";
@itemDetails-wrapper-bg    :"../../app_img/popup-bg.png";

@itemDetails-cancel-bg:'../../app_img/icon-del.png';
@goto-top-border-color:#c6c6c6;
@itemDetails-itemDetails-c-color:#131329;

@itemDetails-itemDetails-item-icon-background-src:'../../app_img/item-icon.png';


/*ͼ�걳��*/
.icon_money{
  background: url("../../app_img/icon_money.png") center no-repeat;
  background-size: .28rem auto;
}
.icon_work_service{
  background: url("../../app_img/icon_work_service.png") center no-repeat;
  background-size: 100% auto;
}
.icon-hr{
  background: url("../../app_img/icon-hr.png") center no-repeat;
  background-size: 100% auto;
}

.icon_administration{
  background: url("../../app_img/icon_administration.png") center no-repeat;
  background-size: .3rem auto;
}
.icon_business{
  background: url("../../app_img/icon_business.png") center no-repeat;
  background-size: 100% auto;
}

.icon_fosun{
  background: url("../../app_img/icon_fosun.png") center no-repeat;
  background-size: 100% auto;
}

.icon_it{
  background: url("../../app_img/icon_it.png") center no-repeat;
  background-size: .28rem auto;
}





